.main{
    border: solid red;
    height: 400px;
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}
.main div{
  padding: 40px;
  background-color: aqua;
  border: solid black 1px;
}

.col1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.col2{
    grid-column-start: 2;
    grid-column-end: 4;
}